
/*------------------FOOTER---------------------*/


.footer {
    /* footer*/
    background-color: #000;
    position: relative;
    width: 100%;
    height: 350px;
    margin-top: 400px;
}

.content-footer img {
  /* redes-sociales */
  height: 50px;
  width: 50px;
  padding-right: 5px;
}

.footer a {
  text-decoration: none;
}

.white-text {
  /* texto-blanco*/
  color: #ffffff;
  font-family: Raleway;
}

.content-footer {
  /*contenedor-footer-social*/
  display: inline-block;
  position: absolute;
  top: 230px;
  right: 0;
  height: 100px;
  margin-right: 10px;
}

.content-footer h3 {
  /*estilos-Preguntas*/
  font-weight: 200;
  margin-left: 25px;
}

.position-gym {
  /* posicion del texto-gym */
  position: absolute;
  left: 600px;
  font-size: 128px;
  font-weight: 800;
  letter-spacing: 5px;
}

.position-gym a {
  text-decoration: none;
  color: #ffffff;
}

.questions {
  /*estilos-letras-preguntas*/
  font-size: 25px;
  font-weight: 200;
}

.qst-1 {
  /* posicion-pregunta1*/
  position: absolute;
  top: 100px;
  margin-left: 15px;
}

.qst-2 {
  /* posicion-pregunta2*/
  position: absolute;
  top: 150px;
  margin-left: 15px;
}

.qst-3 {
  /* posicion-pregunta3*/
  position: absolute;
  top: 200px;
  margin-left: 15px;
}

.text-copyright {
  /* estilos-copyright*/
  position: absolute;
  top: 290px;
  right: 400px;
  width: 350px;
  font-weight: lighter;
}

.footer > h3:hover {
  /*estilos de link a las questions*/
  cursor: pointer;
  color: #d24ed0;
}

.content-footer > img:hover {
  /*estilos redes-sociales */
  cursor: pointer;
}
