:root{
    --background-color-inputs:  rgba(151, 225, 222, 0.3);
    --border-color: rgba(102, 97, 97, 0.5);
}

*,
::before,
::after {
    box-sizing: border-box;
}

html, body{
    height: 100%;
    font-family: "Inter";
    margin: 0;
}

.container {
    min-height: 100%;
    display: grid;
    grid-template-columns: 1fr 50%;
    grid-template-rows: 1fr 30%;
    grid-template-areas:
     "form services"
     "footer footer";
     gap: 1rem;
}


form{
    grid-area: form;

}


input[type="text"] {
    border-radius: 10px;
    width: 40%;
    height: 50px;
    padding: 10px;
    background-color: var(--background-color-inputs);
    border-color: rgba(122, 118, 118, 0.9);
    border-width: 1px;
    margin: 10px;
    
}

input[type="email"] {
    border-radius: 10px;
    margin: 10px;
    width: 40%;
    height: 50px;
    padding: 10px;
    background-color: var(--background-color-inputs);
    border-color: rgba(0, 0, 0, 0.5);
    border-width: 1px;
}

/* SEGUNDA SECCION */
.container-card {
    grid-area: services;
    margin: 10px;
    border: 1px solid var(--border-color);
}

p {
    font-weight: 300;
    border: 1px solid var(--border-color);
    font-size: 24px;
    padding: 20px;
    margin: 0 20px;
}

h2 {
    font-weight: 300;
    font-size: 24px;
    margin: 10px;
}

button {
    width: 150px;
    margin-top: 10px;
    margin-left: 30px;
    padding: 10px;
    border-radius: 5px;
    border:  1px solid rgb(0, 0, 0);
    background-color: #FFFFFF;
    font-size: 16px;
    box-shadow: 2px 4px 4px rgba(0, 0,0, 0.25) ;
}

.footer {
    grid-area: footer;
}