*,
::before,
::after {
    box-sizing: border-box;
    margin: 0px;
}

.container-posicionamiento{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.container-barra{
  display: flex;
  justify-content: space-around; 
  align-items: center;
  background-color: #c1e9e4;
  border-radius: 30px;
  box-shadow: 3px 3px 4px rgba(88, 86, 86, 0.5);
  height: 50px;
  padding: 5px ;
  width: 80%;

}

.barra-buscar {
  /*contenedor de la barra de navegacion */
  display: flex;
}

.estrella {
  /* Logo de estrella*/
  width: 100px;
  cursor: pointer;
}

.icon {
  /* icon del home*/
  cursor: pointer;
  max-width: 40px;
  max-height: 37px;
  margin-left: 20px;
}

.btn-sesion {
  /*Boton de Iniciar sesion */
  font-size: small;
  border-width: 1px;
  border-radius: 10px;
  padding: 10px;
  background-color: #dfb8e9;
  min-width: 150px;
}

.btn-sesion:hover {
  /* Boton de sesion , cambia el color al pasar el cursor */
  background-color: rgba(88, 86, 86, 0.5);
}

.search-text {
  /* Contenedor de las busquedas*/
  width: 50%;
  height: 40px;
  border: 0px;
  border-radius: 20px;
  position: relative;
  padding-left: 20px;
  box-shadow: 2px 2px 4px rgb(128, 128, 128, 0.5);
}

.search-text:focus {
  /* pseudoclase para darle un borde interno*/
  outline: 3px solid #dfb8e9;
}

.search {
  /* Icono de lupa*/
  margin: 0%;
  border: 0px;
  padding: 10px;
  cursor: pointer;
  background-color: white;
}

.list {
  /* Lista de navegacion */
  align-items: center;
  cursor: pointer;
  padding: 0;
}

.list-color {
  /*Cambios de estilo a la lista*/
  text-decoration: none;
  color: black;
}

.list-color:hover {
  /*Cambio de color al ser visitado  */
  color: #d24ed0;
}

.title {
  /* Frase motivadora*/
  justify-content: center;
  font-family: Raleway;
  font-size: 64px;
  text-align: center;
  margin-bottom: 13px;
  padding-left: 200px;
}

.barra-decoration {
  /* Barra decorativa*/
  display: flex;
  background-color: #c1e9e4;
  width: 100%;
  height: 30px;
  margin-left: 20px;
  box-shadow: 3px 3px 4px rgba(120, 116, 116, 0.5);
}

.container-image{
  display: flex;
  width: 100%;
}

.image {
  /* imagenes de presentacion */
  justify-content: space-between;
  width: 390px;
  height: 315px;
  padding: 20px;
  margin-left: 75px;
}

.description {
  /* Descripcion */
  background-color: #c1e9e4;
  border-radius: 30px;
  width: 980px;
  height: 80px;
  padding: 10px;
  position: absolute;
  left: 20%;
  box-shadow: 3px 3px 4px rgba(120, 116, 116, 0.5);
}

/* GALERIA DE LOS CURSOS */

.title-curses {
  /*Titulo de los cursos*/
  font-size: 32px;
  margin: 5px 0px;
  display: flex;
  position: absolute;
  top: 0px;
  right: 300px;
  color: #ffffff;
}

.title-curses h2 {
  /*posicionamiento sin margen*/
  margin: 0;
}

.content-curses {
  /*Contenedor-cursos*/
  background-color: rgba(176, 140, 189, 0.8);
  position: relative;
  top: 100px;
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 70px 0px 30px 0px;
}

.content-cards,
.content-card {
  /*Contenedores de la galeria*/
  width: 395px;
  height: 425px;
  background-color: white;
  border-radius: 50px;
  margin: 8px;
}

.image-cards {
  /*imagenes*/
  width: 395px;
  height: 259px;
  border-radius: 50px 50px 0px 0px;
}

.content-curses h4 {
  /*Titulos-cursos*/
  font-size: 24px;
  display: flex;
  justify-content: center;
  font-family: Sansation Light;
  font-weight: lighter;
  margin: 0;
}

.content-curses p {
  /*Parrafo de los cursos*/
  margin: 0px 24px;
}

.btn-curses {
  /*Boton de acceder*/
  margin-top: 20px;
  margin-left: 90px;
  background-color: black;
  padding: 10px;
  color: white;
  font-family: Aboreto;
  min-width: 207px;
  border-radius: 50px;
  font-size: larger;
  cursor: pointer;
}

.btn-curses:hover {
  /*estilo del boton*/
  background-color: #252525;
  width: 210px;
}

/*SLIDER DE IMAGENES*/

.content-slider {
  /*Contenedor del slider*/
  position: relative;
  top: 200px;
  left: 75px;
  width: 90vw;
  height: 300px;
  overflow: hidden;
}

.content-slider .list-layer {
  display: flex;
  animation: carrusel 30s linear infinite;
  width: calc(400px * 10);
}

.content-slider .item {
  width: 400px;
  height: 300px;
  margin-left: 10px;
}

.content-slider .list-layer .item img {
  width: 100%;
  height: 100%;
  border-radius: 25px;
}

@keyframes carrusel {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-400px * 5));
  }
}

.title-instalaciones {
  /*Titulo de las instalaciones*/
  display: flex;
  position: relative;
}

.title-instalaciones h2 {
  /*margen-titulo*/
  position: absolute;
  top: 150px;
  left: 660px;
  font-size: 34px;
  letter-spacing: 10px;
  margin-top: 0;
  font-weight: normal;
}

/*SECCION DE UBICACION Y HORARIOS*/

.location-image {
  /*imagen-ubicacion */
  width: 288px;
  height: 151px;
}

.content-location {
  /* contenedor de la ubicacion y horarios*/
  position: relative;
  top: 300px;
  left: 340px;
  border: 1px solid #000;
  width: 831px;
  height: 170px;
  border-radius: 25px;
  padding: 8px;
}

.content-location > h4 {
  /* selector de hijo directos */
  display: inline;
  position: absolute;
  top: 0px;
  right: 200px;
}

.position-text1 {
  /*Posicion del horario 8:00am  a 10:00pm*/
  display: inline;
  margin-left: 30px;
  position: absolute;
  top: 33px;
  font-family: Raleway;
  font-size: 16px;
  font-weight: 400;
}

.position-text2 {
  /*Posicion del horario 8:00am  a 10:00pm*/
  display: inline;
  margin-left: 45px;
  position: absolute;
  top: 50px;
  font-family: Raleway;
  font-size: 14px;
  font-weight: 200;
}

.position-text3 {
  /*Posicion del horario  lado derecho*/
  display: inline;
  margin-left: 30px;
  position: absolute;
  top: 33px;
  right: 52px;
  font-family: Raleway;
  font-size: 16px;
  font-weight: 400;
}

.position-text4 {
  /* sabados y domingos*/
  display: inline;
  margin-left: 45px;
  position: absolute;
  top: 52px;
  right: 50px;
  font-family: Raleway;
  font-size: 14px;
  font-weight: 200;
}

.position-text5 {
  /*direccion */
  position: absolute;
  top: 100px;
  left: 500px;
  font-family: Raleway;
  font-size: 14px;
}

.position-text6 {
  /*direccion-sede */
  position: absolute;
  top: 120px;
  left: 550px;
  font-family: Raleway;
  font-size: 14px;
  font-weight: 200;
}
