*,
::before,
::after {
    box-sizing: border-box;
    margin: 0px;
    font-family: Raleway;
  }


.container-posicionamiento{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.container-barra{
  display: flex;
  justify-content: space-around; 
  align-items: center;
  background-color: #c1e9e4;
  border-radius: 30px;
  box-shadow: 3px 3px 4px rgba(88, 86, 86, 0.5);
  height: 50px;
  padding: 5px ;
  width: 80%;

}

.barra-buscar {
  /*contenedor de la barra de navegacion */
  display: flex;
}

.estrella {
  /* Logo de estrella*/
  width: 100px;
  cursor: pointer;
}

.icon {
  /* icon del home*/
  cursor: pointer;
  max-width: 40px;
  max-height: 37px;
  margin-left: 20px;
}

.btn-sesion {
  /*Boton de Iniciar sesion */
  font-size: small;
  border-width: 1px;
  border-radius: 10px;
  padding: 10px;
  background-color: #dfb8e9;
  min-width: 150px;
}

.btn-sesion:hover {
  /* Boton de sesion , cambia el color al pasar el cursor */
  background-color: rgba(88, 86, 86, 0.5);
}

.search-text {
  /* Contenedor de las busquedas*/
  width: 50%;
  height: 40px;
  border: 0px;
  border-radius: 20px;
  position: relative;
  padding-left: 20px;
  box-shadow: 2px 2px 4px rgb(128, 128, 128, 0.5);
}

.search-text:focus {
  /* pseudoclase para darle un borde interno*/
  outline: 3px solid #dfb8e9;
}

.search {
  /* Icono de lupa*/
  margin: 0%;
  border: 0px;
  padding: 10px;
  cursor: pointer;
  background-color: white;
}

.list {
  /* Lista de navegacion */
  align-items: center;
  cursor: pointer;
  padding: 0;
}

.list-color {
  /*Cambios de estilo a la lista*/
  text-decoration: none;
  color: black;
}

.list-color:hover {
  /*Cambio de color al ser visitado  */
  color: #d24ed0;
}

.title {
  /* Frase motivadora*/
  font-size: clamp(1rem ,4vw ,4rem);
  text-align: center;
  margin-bottom: 13px;
}

.barra-decoration {
  /* Barra decorativa*/
  display: flex;
  background-color: #c1e9e4;
  width: 95%;
  height: 30px;
  margin-right: auto;
  margin-left: auto;
  box-shadow: 3px 3px 4px rgba(120, 116, 116, 0.5);
}

.container-image{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1rem;
  width: 100%;
}

.image {
  /* imagenes de presentacion */
  width: 390px;
  height: 315px;
}

/* GALERIA DE LOS CURSOS */

.title-curses {
  /*Titulo de los cursos*/
  font-size: clamp(1rem, 4vw, 3rem);
  padding: 1rem 0 0 0;
  color: #ffffff;
}

.content-curses {
  /*Contenedor-cursos*/
  background-color: rgba(176, 140, 189, 0.8);
  text-align: center;
}

.container{
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  padding: 2rem 0;
  align-items: stretch;

}

.card {
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
  max-width: 300px;
  height: auto;
  background: #fff;
}

.card-body h4 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.card-image {
  width: 100%;
  max-height: 200px;
  display: block;
}

.card-body {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.btn {
  display: inline-block;
  font-family: Aboreto;
  text-align: center;
  font-size: larger;
  padding: 0.6rem 1rem;
  border-radius: 0.5rem;
  background: #000;
  color: #fff;
  text-decoration: none;
  transition: background 0.3s;
}

.btn:hover {
  background: #252525;
}


/*SLIDER DE IMAGENES*/
.title-instalaciones {
  padding: 2rem 0 1rem  0;
  text-align: center;
  font-size: 34px;
  letter-spacing: 10px;
  font-weight: normal;
}

.content-slider {
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.content-slider .list-layer {
  display: flex;
  animation: carrusel 30s linear infinite;
  width: calc(600px * 10);
}

.content-slider .item {
  width: 600px;
  height: 300px;
  margin-left: 10px;
}

.content-slider .list-layer .item img {
  width: 100%;
  height: 100%;
  border-radius: 25px;
}

@keyframes carrusel {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-400px * 5));
  }
}

/*SECCION DE UBICACION Y HORARIOS*/
.location-container {
  display: flex;
  justify-content: center;
  margin: 4rem;
}

.content-location {
  display: flex;
  gap: 2rem;
  align-items: center;
  padding: 1rem;
  border: 1px solid #000;
   max-width: 700px;
  width: 100%;
  border-radius: 25px;
}

.location-image {
  /*imagen-ubicacion */
  max-width: 200px;
  height: auto;
}

.information {
  display: flex;
  flex-direction: column;
  gap: 0.30rem;
  font-family: Raleway, sans-serif;
  font-size: 16px;
}

.information h4 {
  font-size: 20px;
  font-weight: 600;
}

.sub {
  font-size: 15px;
  font-weight: 500;
}
